*{
    margin: 0px;
    padding: 0px;
}


.navbar{
    height: 10vh;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    /* border: 5px solid black; */
    justify-content: space-evenly;
    background-color: #CEAE05;
    gap: 10px;
}

.logo img{
 object-fit: cover;
 width: 100%;
}

.navContents{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
    margin-top: 15px;
}

.navContents li{

        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        list-style:none;
}

.img-fluid{
    /* margin-top: 10px; */
    width: 100%;
    height: 400px;
}

.amazon{
    height: 50px;
    width: 100px;
}

.buttons{
    display: flex;
    gap: 10px;
    width: 110px;
    height: 50px ;
}

.buttonCommon{
    margin: 5px;
    display: flex;
    width: 100px;
    height: 40px ;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.buttonCommon:hover{
    width: 105px;
    height: 45px ;
    font-size: 22px;

}

.buy{
       
        background: #CEAE05;
        border: 2px solid #CEAE05;
        color: #D9D9D9;
        border: 2px solid black;
       
    }


.sell{
        /* display: flex;
        width: 120px;
        height: 50px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 10px; */
        border: 2px solid #CEAE05;
        color: #CEAE05;
        /* font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; */

}










.row{
    display: flex;
    justify-content: space-around;
}

.cartImage img{
    width: 100%;
    height: 40px;
}





.heroSection{
    background: #f5e9e9;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: space-around;
}


   
.title{
margin-bottom: 5vh;
}
.card{
margin: auto;
max-width: 950px;
width: 90%;
box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 1rem;
border: transparent;
}
@media(max-width:767px){
.card{
    margin: 3vh auto;
}
}
.cart{
width: 60%;
background-color: #fff;
padding: 4vh 3vh;
border-bottom-left-radius: 1rem;
border-top-left-radius: 1rem;
}
@media(max-width:767px){
.cart{
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
}
}

.Item-cards{
    max-height: 62vh;
    /* max-height: 400px; */
    overflow: auto;
}

.text-muted{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.midCol{
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 5vw;
}




.summary{
    display: flex;
    flex-direction: column;
    /* gap: 14px; */
    justify-content: space-around;
    width: 30%;
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
.summary{
border-top-right-radius: unset;
border-bottom-left-radius: 1rem;
}
}
.summary .col-2{
padding: 0;
}
.summary .col-10
{
padding: 0;
}.row{
margin: 0;
}
.title b{
font-size: 1.5rem;
}
.main{
    /* border: 1px solid black; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
    box-shadow: 5px 5px 5px rgba(67, 66, 66, 0.31);
    background-color: #f6c6c631;
    margin-right: 1vw;
    /* background-color: #f6d4d4; */
margin: 0;
padding: 2vh 0;
margin-right:20px;
width: 100%;
}




.col-2, .col{
padding: 0 1vh;
}
a{
padding: 0 1vh;
}
.close{
margin-left: auto;
font-size: 0.7rem;
}
img{
    height: 5.5rem;
width: 5.5rem;
}
.back-to-shop{
margin-top: 1rem;
}
h5{
margin-top: 4vh;
}
hr{    
    /* margin-top: 1.25rem;
    margin-bottom: 1rem; */
}
form{
    margin-top: 1rem;
    display: flex;
    /* padding: 2vh 0; */
    flex-direction: column;
}
select{
    margin-top: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.137);
padding: 1.5vh 1vh;
margin-bottom: 3vh;
outline: none;
width: 100%;
background-color: rgb(247, 247, 247);
}
input{
border: 1px solid rgba(0, 0, 0, 0.137);
padding: 1vh;
margin-bottom: 4vh;
outline: none;
width: 100%;
background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
  color:transparent;
}
.btn{
background-color: #000;
border-color: #000;
color: white;
width: 100%;
font-size: 0.7rem;
/* margin-top: 4vh; */
padding: 1vh;
border-radius: 0;
}
.btn:focus{
box-shadow: none;
outline: none;
box-shadow: none;
color: white;
-webkit-box-shadow: none;
-webkit-user-select: none;
transition: none; 
}
.btn:hover{
color: white;
}
a{
color: black; 
}
a:hover{
color: black;
text-decoration: none;
}
#code{
    margin-top: 0.5rem;
background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
background-repeat: no-repeat;
background-position-x: 95%;
background-position-y: center;
}


table{
    padding: 1rem;
}
td{
    padding: 6px;
}

















.footer{
    padding-top: 15px;
    background-color: #CEAE05;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
}

.bgc {
    background-color: #CEAE05;

}

.about{
    width: 30%;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:Black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

 li {
    list-style:none;
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* gap: 5px; */
line-height: 45px;
    
 } 

.logo{
    display: flex;
    /* width: 36px; */
    align-items: center;
    gap : 10px;
    
    
}

/* .png img{
   
    height: 50px;
    width: 50px;
} */




.insta{
   width: 30px;
   height: 50px;
  
}
.fb{
   width:40px ;
   height: 50px;
   object-fit: cover;
 
}