body{
    background-color: #CEAE05;
    display: flex;
}

.logo{
    margin: 50px;
}
.logo img{
    height: 80px;
    width: 300px;
}

.text{
    width: 500px;
    margin-left: 20px;
    margin-top: 50px;
}
.text h1{
    font-family: 'syne';
    padding: 20px;
    font-size: 30px;
    font-weight:bolder;
}

/* #img{
width: 200px;
height: 200px;
position: absolute;
background-color: #c2b263a3;
border: 1px solid black;
border-radius: 50;
} */

.img img {
    height: 321px;
    width: 100%;
    margin-left: -322px;
    position: absolute;
    margin-top: -33px;
    object-fit: contain;
}

.heroSection {
    /* position: fixed; */
    right: 0;
    margin-right: 0px;
    background-color: white;
    /* float: right; */
    height: 720px;
    width: 100%;
     bottom: 0;
    border-radius: 40px 0 0 40px;
}

.login{
    /* padding: 50px; */
    /* border: 1px solid black; */
    margin-top: 200px;
    margin-left: 230px;
    margin-right: 230px;
    height: auto;

    
}

.loginText{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;

}

.inputs{
    gap: 30px;
}


.inputs input {
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 130px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #575757;
}
.loginButton button{
    width: 360px;
    height: 40px;
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #CEAE05;
    /* padding-left: 50px; */
    border: none;
    font-weight: bolder ;
    font-size: 20px;

}

.signUp p{
    text-align: right;
    margin-right: 110px;
    
}